h1 {
  background: #d0113f;
  color: #FFFFFF;
}
a {
  text-decoration: none;
}
footer .logos {
  position: absolute;
  bottom: 20px;
  right: 20px;
  float: right;
}
.logos object {
  height: 75px;
  width: 180.905px;
}
